@page "/"
@using Amazon.SQS.Model
@using Frontend.Services
@inject IQueueService SqsService

<h1>Clicker Game</h1>

<h2>@currentCount</h2>
<button @onclick="Count">Click me</button>

@code {
    public int currentCount = 0;

    private async Task Count() {
        currentCount++;
    }

}
