@page "/play"
@using Amazon.SQS.Model
@using Frontend.Models
@using Frontend.Services
@using Frontend.Services.Interfaces
@inject IGameService gameService
@inject LeaderboardService leaderboard

<h1>Clicker Game: @name</h1>

<h2>@currentCount</h2>
<button @onclick="Count">Click me</button>

<ol>
    @foreach (LeaderboardPosition pos in positions) {
        <li>@pos.Score (@pos.Name)</li>
    }
</ol>

@code {
    public int currentCount = 0;
    public string name;
    private List<LeaderboardPosition> positions = new List<LeaderboardPosition>();

    protected override async Task OnInitializedAsync()
    {
        name = gameService.getName();
        Console.WriteLine(name);
        Console.WriteLine(gameService.getSessionId());
        await leaderboard.getPositions();
        positions = leaderboard.getBoard();
    }

    private async Task Count() {
        currentCount++;
        await gameService.IncrementScore();
        // await leaderboard.getPositions();
        await leaderboard.getPositions();
        positions = leaderboard.getBoard();
    }

}
