@page "/"
@using Amazon.SQS.Model
@using Frontend.Services
@inject IQueueService SqsService


<button @onclick="SendMessage">Send Message</button>

<button @onclick="NextMessage">next message</button>
<p>@message</p>

@code {
    private string message;

    private async Task SendMessage()
    {
        await SqsService.SendMessageAsync("gday gday");
        message = string.Empty;
    }
    private async Task NextMessage()
    {
        await SqsService.NextMessage();
        message = SqsService.getMessage();
    }

}
